Repository agencyenterprise/neural-data-simulator, pull requests merged in 2023-10, with the labels that each got.

#31 Move script settings into their own modules
  src/decoder/run_decoder.py
  src/decoder/settings.py
  src/tasks/center_out_reach/settings.py
  src/tasks/run_center_out_reach.py
Labels: norelease

#34 Test that `pyproject.toml` script entry points direct to existing modules/functions
  .github/allowed_word_list.txt
  poetry.lock
  pyproject.toml
  tests/scripts/test_entry_points.py
Labels: norelease

#38 Bump pyright version and fix pyright errors
  .github/allowed_word_list.txt
  poetry.lock
  pyproject.toml
  src/neural_data_simulator/ephys_generator.py
  src/neural_data_simulator/filters.py
  src/neural_data_simulator/inputs.py
  src/neural_data_simulator/outputs.py
  src/tasks/center_out_reach/metrics.py
  src/tasks/center_out_reach/scalers.py
  src/tasks/center_out_reach/screen_info.py
  src/tasks/center_out_reach/task_window.py
Labels: bug, release:patch, label_review

#36 Make waveforms optional for `Spikes` API
  src/neural_data_simulator/ephys_generator.py
  src/neural_data_simulator/scripts/run_ephys_generator.py
  tests/scripts/test_run_ephys_generator.py
  tests/test_ephys_generator.py
Labels: enhancement, norelease

#35 Add markdown link-checker to Github workflow
  .circleci/config.yml
  .github/allowed_word_list.txt
  docs/contributing.md
  docs/source/conf.py
  docs/source/installation.md
  examples/plot_run_open_loop.py
  examples/plot_train_encoder_and_decoder_model.py
Labels: norelease

#41 Index colors modulo the color-list-length
  src/tasks/center_out_reach/metrics.py
Labels: bug, norelease

#42 Stream task window GUI information on LSL
  src/neural_data_simulator/outputs.py
  src/neural_data_simulator/settings.py
  src/tasks/center_out_reach/settings.py
  src/tasks/center_out_reach/task_runner.py
  src/tasks/config/settings_center_out_reach.yaml
  src/tasks/run_center_out_reach.py
Labels: enhancement, norelease, task_ui

#47 Bump `colorednoise` package to fix type-hinting
  poetry.lock
  pyproject.toml
  src/neural_data_simulator/ephys_generator.py
Labels: norelease

#45 Reformat a couple figures in plot_train_encoder_and_decoder_model.py
  examples/plot_train_encoder_and_decoder_model.py
Labels: documentation, norelease

#46 Refactor many of the runners
  src/decoder/run_decoder.py
  src/neural_data_simulator/outputs.py
  src/neural_data_simulator/scripts/run_encoder.py
  src/neural_data_simulator/util/runtime.py
  src/recorder/recorders.py
  src/recorder/run_recorder.py
  src/tasks/run_center_out_reach.py
Labels: norelease, release:patch, label_review

#43 Specify submodule dependencies
  Makefile
  poetry.lock
  pyproject.toml
  src/tasks/run_center_out_reach.py
Labels: enhancement, norelease

#32 Move streamer out of NDS main
  pyproject.toml
  src/neural_data_simulator/__init__.py
  src/neural_data_simulator/scripts/post_install_config.py
  src/streamer/__init__.py
  src/streamer/config/settings_streamer.yaml
  src/streamer/run_streamer.py
  src/streamer/settings.py
  src/streamer/streamers.py
  tests/scripts/test_post_install_config.py
  tests/scripts/test_run_streamer.py
  tests/test_streamers.py
Labels: release:patch, label_review

#53 Fixing CI job on Windows
  .github/workflows/test.yml
Labels: norelease

#56 Fix some broken links after folder refactor
  docs/source/encoder.md
Labels: norelease

#54 Bump pylsl version to include send_chunk with timestamps
  poetry.lock
  pyproject.toml
Labels: norelease

#57 Make runners configurable from the command-line using `OmegaConf`
  poetry.lock
  pyproject.toml
  src/neural_data_simulator/config/settings.yaml
  src/neural_data_simulator/core/settings.py
  src/neural_data_simulator/decoder/run_decoder.py
  src/neural_data_simulator/decoder/settings.py
  src/neural_data_simulator/scripts/run_encoder.py
  src/neural_data_simulator/scripts/run_ephys_generator.py
  src/neural_data_simulator/streamer/run_streamer.py
  src/neural_data_simulator/streamer/settings.py
  src/neural_data_simulator/tasks/center_out_reach/settings.py
  src/neural_data_simulator/tasks/run_center_out_reach.py
  src/neural_data_simulator/tasks/run_closed_loop.py
  src/neural_data_simulator/util/settings_loader.py
  tests/scripts/test_run_encoder.py
  tests/scripts/test_run_ephys_generator.py
  tests/scripts/test_run_streamer.py
  tests/test_settings_loader.py
Labels: norelease
