Repository agencyenterprise/neural-data-simulator, pull requests merged in 2023-07, with the labels that each got.

#19 Handles argument passing to `run_closed_loop` script
  Makefile
  docs/source/running_bci.md
  src/tasks/run_closed_loop.py
Labels: release:minor

#20 Fix window glitch
  src/tasks/center_out_reach/metrics.py
  src/tasks/center_out_reach/task_runner.py
  src/tasks/center_out_reach/task_window.py
Labels: release:patch

#15 Adding docs redirector to CI
  .github/workflows/circle_artifacts.yml
Labels: norelease

#17 Auto release based on PR label
  .github/allowed_word_list.txt
  .github/pull_request_template.md
  .github/workflows/check_labels.yml
  .github/workflows/publish_release.yml
  docs/contributing.md
Labels: norelease

#16 Caching poetry dependencies on CI jobs
  .github/workflows/lint.yml
  .github/workflows/sphinx_build.yml
  .github/workflows/test.yml
Labels: release:patch

#24 Fix auto-release
  .github/workflows/publish_release.yml
Labels: release:patch

#22 Fix Subprocesses Cleanup on run_closed_loop
  src/tasks/run_center_out_reach.py
  src/tasks/run_closed_loop.py
Labels: release:patch
